name: Furia Bot 24h
on:
  schedule:
    - cron: '*/15 * * * *'  # Roda a cada 15 minutos
  workflow_dispatch:

jobs:
  furia-automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4
      
      - name: Run Furia Script
        run: python scripts/furia_bot.py
